/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
.entete{
    display: flex;
    justify-content: space-between;
}
.liste1{

    display: flex;
    /* margin-right: 13px; */
    list-style-type: none;
}
.titre p{
    font-weight: 500;
}
.liste1 li:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
.location{
    height: 42px;
    width: 36px;
    border: 1px solid;
    border-radius: 10px 0px 0px 10px;
    line-height: 43px;
    text-align: center;
    background-color: #f2f2f2;
}
.Recherche{
    border-radius: 0px 10px 10px 0px;
    background-color:#0065FC;
    color: white;
    font-size: 17px;
}
.desti{
    font-size: 17px;
    font-weight: 700;
}
.formulaire{
    display: flex;
}
.filtres{
    display: flex;
    align-items: center;
}
.listefiltres{
    margin: 0px 0px 0px 45px;
    display: flex;
}
.icon{
margin-right:2px ;
}
.economique{
    margin-right: 41px;
    height: 32px;
    border-radius: 36px;
    font-size: 17px;
    font-weight: 700;
}
.loupe{
    display: none;
}
.liste1 li{
    padding-top: 23px;
    margin-top: -23px;
}
.economique:hover{
    background-color:#DEEBFF ;
}
.hebergement{
    
    margin-right: 52px;
}

.logement{
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}
.icon1{
    border-radius: 50px;
    border: 1px #F2F2F2 solid;
    font-size: 18px;
    text-align: center;
    /* line-height: 1; */
    align-items: center;
    display: flex;
    padding: 5px 0px 5px 7px;
    margin-right: 17px;
}
.main-container {     
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.Marseille-card{
    display: flex;
    flex-wrap: wrap;
}
.card2{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-left: 25px;
    margin-top: 41px;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}
.euro2 {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.image-marseille{
    height: 152px;
    width: 201px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.bouton2{
    display: none;
}
.fa{
    color:#0065FC;
}
.bouton{
    font-size: 25px;
    border-radius: 10px;
    margin-left: 26px;
    border-color: #F2F2F2;
    font-weight: 800;
}
.bouton:hover{
    background-color:#DEEBFF ;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.activity{
    display: flex;
}
.titre3{
    display: flex;
    text-wrap: nowrap;
}
.port{
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box; 
    margin-right: 117px; 
    margin-left: -78px; 
    box-shadow: 9px 9px 9px 9px #F2F2F2;
}
.image-activity{
    height: 414px;
    width: 277px;
    border-radius: 21px 21px 0px 0px;
    object-fit: cover;

}
.activity-bloc{
    display: flex;
    margin-top: 100px;
    margin-left: -147px;
}
.a-propos{
    margin-right: 90px;
    margin-left: 80px;
}
.pied{
    background-color: #f2f2f2;
    flex-wrap: nowrap;
    margin-top: 73px;
    display: flex;
}
/*bloc css pour modale*/
.div1{
    display: none;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #f2f2f2de;
}
.div2{
    position: fixed;
  top: 2%;
  left: 25%;
  width: 54%;
  border: black solid;
  display: flex;
  flex-wrap: wrap;
  background-color: #a656df;
  border-radius: 13px;
}
.select{
    display: flex;
    justify-content: space-between;
}
.free{
    margin-left: 78px;
    font-size: 21px;
    border: #F2F2F2 solid;
    border-radius: 22px;
}
.free:hover{
    background-color: #0065FC;
}
.All{
    margin-left: 78px;
    font-size: 21px;
    border: #F2F2F2 solid;
    border-radius: 22px;
}
.All:hover{
    background-color: #0065FC;
}
.card-manip{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
}
.close{
    width: 33px;
  height: 77%;
  font-size: 18px;
  border-radius: 5px;
}
.close:hover{
    background-color: red;
}
.fermer{
    margin-left: 122px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/***** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 992px) {
    .main-container{
        padding: 0 8px;
    }
    .liste1{
        font-size: 22px;
    }
    .description{
        font-size: 23px;
    }
    .economique{
        width: 138px;
        margin-left: -18px;
    }
    .logement{
        font-size: 23px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-left: 0px
    }
    .card2{
        margin-left: 5px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards img{
        height: 184px;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activity{
        flex-wrap: wrap;
        margin-right: -37px;
    }
    .activity-bloc{
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .port{
        margin-right: 118px;
        margin-bottom: 46px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    body{
        justify-content: center;
    }
    .main-container{
        padding: 0 0px;
    }
    .entete{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        margin-left: 35%;
    }
    .titre{
        font-size: 10px;
    }
    .liste1{
        font-size: 21px;
        margin-right: 118px;
        margin-top: 70px;
        border-bottom: #F2F2F2 solid;
    }
    .Recherche{
        display: none;
    }
    .bouton2{
    display: block;
    width: 59px;
    border-radius: 0px 18px 15px 0px;
    background-color: #0065FC;
    }
    .loupe{
        display:block;
        color: white;
        font-size: 27px;
    }
    .hebergement{
        margin-left: -126px;
    }
    .activites{
        margin-left: 100px;

    }
    .imagelogo{
        width: 162px;
        margin-left: -50px;
    }
    .titre p{
        font-size: 14px;
    }
    .formulaire{
        justify-content: center;
    }
    .desti{
        font-size: 17px;
    }
    .location{
        height: 68px;
    }
    .filtres{
        flex-wrap: wrap;
    }
    .listefiltres{
        flex-wrap: wrap;
        padding: 10px;
        margin: 0px 0px 0px 19px;
    }
    .economique{
        font-size: 15px;
        margin-bottom: 19px;
        margin-right: 19px;
    }
    .hebergements-and-populaires section{
        background-color: white;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }
   
    
    .hebergements{
        width: 100%;
    }
    .populaires{
        background-color: #F2F2F2;
    }
    .populaires-cards .card {
        width: 97%;
    }
    .card2{
        width: 321px;
    }
    .Marseille-card{
        margin-left: 43px;
    }
    .image-marseille{
        width: 318px;
    }
    .activity{
        margin-right: 0px;
    }

    .activity-bloc{
        flex-direction: column;
        margin-left: 118px;
    }
    .pied{
        flex-direction: column;
    }
   /* .entete{
        flex-wrap: wrap;
        justify-content: center;
    }
    .imagelogo{
        height: 34px;
        width: 109px;
        object-fit: cover;
    }
    .liste1{
        margin-top: 51px;
        border-bottom: #f2f2f2 solid;
        padding-bottom: 6px;
    }
    .liste1 li{
        margin-right: 92px;
        margin-left: 34px;
    }
    .Recherche{
        border-radius: 10px;
        background-color: #0065FC;
        width: 30px;
    }
    liste1 li:hover{
        border-bottom: #0065FC;
    }
    .titre{
        font-size: 8px;
    }
    .description{
        font-size: 13px;
        margin-left: -36px;
    }
    .formulaire{
        margin-left: -17px;
    }
    .listefiltres{
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .filtres{
        flex-wrap: wrap;
    }
    .economique{
        margin-top: 11px;
        margin-left: -41px;
        background-color: white;
        border: #f2f2f2 solid;
    }
    .hebergements-and-populaires{
        background-color: white;
    }    
    .hebergements{
        background-color: white;
        position: relative;
        z-index: 1;
        margin-top: 743px;
        width: 374px;
    }
    .populaires{
        background-color: white;
        position: absolute;
        z-index: 2;
    }
    .populaires-cards{
        flex-wrap: wrap;
        width: 934px;
    }
    .Marseille-card{
        margin-left: -37px;
        margin-top: 40px;
    }
    .card2{
        height: 211px;
        width: 339px;
        margin-top: 4px;
        margin-left: 255px;
    }
    .card-content2{
        height: 15px;
    }
    .image-marseille{
        height: 99px;
        width: 315px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .activity-bloc{
        flex-wrap: wrap;
    }
    .port{
        margin-top: 11px;
    }
    .image-activity{
        height: 150px;
        width: 350px;
        object-fit: cover;
    }
    .pied{
        flex-wrap: wrap;
        width: 373px;
        margin-left: -12px;
    }*/

}